name: api-testing-portfolio

on:
  push:
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "20.12.2"
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Cypress run
        continue-on-error: true
        uses: cypress-io/github-action@v6
        with:
          command: npm run test-prod

      - name: Upload HTML report
        if: always()
        id: upload-report
        uses: actions/upload-artifact@v4
        with:
          name: cypress-html-report
          path: cypress/reports/index.html
          if-no-files-found: warn

      - name: Publish report link
        if: always()
        run: |
          echo "## Cypress Report" >> $GITHUB_STEP_SUMMARY
          echo "[Open HTML report artifact](${{ steps.upload-report.outputs.artifact-url }})" >> $GITHUB_STEP_SUMMARY
